.html {
    font-size: 14px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.clear {
    clear: both;
}

li {
    list-style: none;
}

button,
select,
input {
    outline: none;
    margin: 0px;
    padding: 0px;
    border: 0px;
    list-style: none;
    outline: none;
    resize: none;
    box-sizing: border-box;
}

p,
ul,
li,
body,
html {
    margin: 0;
    padding: 0;
}

input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
}

input {
    background-color: rgba(255, 255, 255, 0.6);
}

.table-sx {
    font-size: 14px;
    border: 1px solid #E7EAEC;
}

th {
    height: 38px;
    background: #F7F9FB;
}

.table-sx th,
.table-sx td {
    text-align: left;
    color: #4D4F50;
    padding: 0 15px;
}

.table-sx td {
    height: 50px;
}

.table-sx tr {
    border-top: 1px solid #E7EAEC;
}