.html {
    font-size: 14px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.clear {
    clear: both;
}

li {
    list-style: none;
}

button,
select,
input {
    outline: none;
    margin: 0px;
    padding: 0px;
    border: 0px;
    list-style: none;
    outline: none;
    resize: none;
    box-sizing: border-box;
}

p,
ul,
li,
body,
html {
    margin: 0;
    padding: 0;
}