.html {
    font-size: 14px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.clear {
    clear: both;
}

li {
    list-style: none;
}

button,
select,
input {
    border: none;
    outline: none;
}

p,
ul,
li,
body {
    margin: 0;
    padding: 0;
}