.addtalk {
    font-size: 14px;
    padding: 5px 10px;
    margin-top: 6px;
    color: #fff;
    background: #3199F7;
    border: 1px solid #4597E0;
    border-radius: 5px;
}

.talktop {
    font-size: 28px;
    color: #333333;
    margin: 20px;
}


/* layui表格样式修改 */

.layui-layer-page {
    z-index: 1000 !important;
}

.layui-table {
    color: #4D4F50;
}

.layui-table-view .layui-table th {
    background: #F7F9FB;
    color: #424547;
    height: 36px;
    font-weight: bold;
}

.layui-table-view .layui-table td {
    height: 50px;
    background: #fff;
    color: #4D4F50;
}

.hover:hover {
    background: #E2EDF8;
    border-radius: 2px;
}

.endtalk {
    padding: 5px 15px;
    margin: 0 25px;
}


/* 弹出框样式修改 */

body .addkind1 .layui-layer-btn {
    border-top: 1px solid #E7EAEC;
}

body .layui-layer-btn a {
    /* border: 1px solid #4597E0; */
    color: #fff;
    background: #4597E0;
    border-radius: 5px;
    padding: 5px 80px;
    margin-bottom: 20px;
}

body .layui-layer-btn a.layui-layer-btn1,
body .layui-layer-btn a.layui-layer-btn1 {
    background: #BFC8D0;
    margin-left: 30px;
}

body .addkind .layui-layer-btn a {
    border: 1px solid #4597E0;
    color: #4597E0;
    background: #fff;
    border-radius: 5px;
    padding: 10px 40px;
    margin-bottom: 40px;
}

.addtype {
    margin-top: 40px;
    text-align: center;
    font-family: PingFangSC-Semibold;
    font-size: 26px;
    color: #4B4E50;
    text-align: center;
    line-height: 26px;
}


/* 新建在线访谈样式 */

.addinlinetalk {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #676A6C;
}

div.title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

div.textleft {
    float: left;
    height: 30px;
    line-height: 30px;
    width: 100px;
    /* border: 1px solid red; */
    text-align: right;
    margin-right: 20px;
}

div.line {
    width: 100%;
    /* height: 35px; */
    margin-bottom: 20px;
}

.talk {
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    border: 1px solid #DEE1E6;
}

.talkname,
.talkintro {
    width: 450px;
    padding: 10px;
}

.guest,
.addguest {
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0 15px;
    border-radius: 2px;
    margin-right: 15px;
    background: #E6EEF5;
    margin-bottom: 15px;
}

.addguest {
    cursor: pointer;
    background: #FFFFFF;
    border: 1px solid #3199F7;
    color: #3199F7;
}

.select {
    height: 30px;
    line-height: 30px;
}

.color-cb {
    width: 16px;
    height: 16px;
    background-color: #fff;
    -webkit-appearance: none;
    border: 1px solid #4F93FE;
    cursor: pointer;
    border-radius: 2px;
    outline: none;
    position: relative;
    top: 3px;
    margin-right: 7px;
}

.color-cb:checked {
    background: blue;
    background-image: url(../../img/checked.png);
}

#s2,
#s4 {
    margin-left: 70px;
}

.upfile {
    margin-left: -10px;
    display: none;
}


/* .selecttype {
    width: 30px;
    height: 30px;
    border-radius: 0;
} */


/* 添加嘉宾弹框 */

#addguest {
    text-align: center;
    font-size: 26px;
    color: #676A6C;
}

.guestname {
    border: 1px solid #BABABA;
    width: 350px;
    height: 40px;
    line-height: 40px;
    padding: 5px 15px;
    font-size: 14px;
    margin-top: 100px;
}


/* 结束 删除访谈弹框 */

.center {
    text-align: center;
}

.comfirmdo {
    margin-top: 50px;
    font-family: PingFangSC-Regular;
    font-size: 24px;
    color: #676A6C;
    text-align: center;
    line-height: 30px;
    padding: 0 50px;
}

.radio-select {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid red;
}


/* input[type="radio"]+label::before {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    width: 1em;
    height: 1em;
    margin-right: .4em;
    border-radius: 50%;
    border: 1px solid #01cd78;
    text-indent: .15em;
    line-height: 1;
} */

input[type="radio"] {
    visibility: hidden;
}

label {
    cursor: pointer;
    position: relative;
    left: -26px;
}

.ddd {
    box-sizing: border-box;
    position: relative;
    top: 3px;
    margin-right: 10px;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid #4F93FE;
}

.checked {
    background-image: url(../../img/checked.png);
}