/* 全局样式   start */
body,div,aside,p,span,ul,li,a,form{
  margin: 0;
  padding: 0;
}

ul,li{
  list-style: none;
}

img{
  border: 0;
}

a{
  text-decoration: none;
}
/* 全局样式   end */



/* 二级页面样式  start */
html{
  width: 100%;
  height: 800px;
}
body{
  width: 100%;
  height: 800px;
  position: relative;
  padding: 0;
  
  font-size: 14px;
}
.container{
  width: 100%;
  margin: 0px auto;
  height: 800px;
  border: 1px solid #E6EEF5;
  box-sizing: border-box;
}

.nav{
  width: 17%;
  height: 799px;
  background: #F7F9FB;
  padding-top: 27px;
  float: left;
  border-right: 1px solid #E6EEF5;
  box-sizing: border-box;
}

.nav li{
  height: 44px;
  line-height: 44px;
  padding-left: 28px;
  font-size: 14px;
  cursor: pointer;
}

.nav a{
  color: #333333;
}

.content{
  width: 83%;
  height: 100%;
  float: right;
  overflow-x: hidden;
  overflow-y: auto;
}
.menu{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: none;
}
.title{
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
}
.title p{
  width: 95%;
  border-bottom: 1px solid #E6EEF5;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 30px;
  font-size: 24px;
}
.main{
  width: 100%;
}
.main_item{
  width: 100%;
 margin-bottom: 10px;
  display: inline-block;
}
.main_item>p{
  margin-left: 6%;
  width: 13%;
  height: 34px;
  color: #888888;
  float: left;
}
.main_item>div{
  width: 75%;
  height: 100%;
  margin-right: 6%;
  float: left;
}
.time{
  text-align: center;
  width: 193px;
  height: 32px;
  line-height: 32px;
  border: 1px solid #CDCDCD;
  float: left;
}
.main_item>div>p{
  color: #3199F7;
  margin-left: 32px;
  cursor: pointer;
  display: inline-block;
}
.guest{
  padding: 9px 12px;
  background: #E6EEF5;
  margin-right: 20px;
  margin-left: 0;
  color: #000;
  margin-bottom: 10px;
  float: left;
}

.add{
  width: 82px;
  height: 32px;
  border: 1px solid #3199F7;
  border-radius: 2px;
  text-align: center;
  line-height: 32px;
  color: #3199F7;
  cursor: pointer;
  float: left;
}


.sure p{
  width: 200px;
  height: 46px;
  line-height: 46px;
  color: rgb(255,255,255);
  background: #3199F7;
  margin-left: 36px;
  text-align: center;
  font-size: 16px;
  display: inline-block;
  cursor: pointer;
}
.sure{
  width: 100%;
  text-align: center;
  margin-top: 4%;
}

.active{
  background: #3199F7;
  color: #fff;
}

#test,#test1{
  width: 60px;
  opacity: 0;
  filter:"alpha(opacity=0)";
}


/* 用户管理 */
.title span{
  float: right;
  margin-right: 34px;
  font-size: 14px;
  margin-top: 15px;
}

.tab{
  width: 90%;
  height: 590px;
  margin-left: 30px;
}
.tab table{
  width: 100%;
  font-size: 14px;
}
.tab table tr{
  width: 100%;
  border-bottom: 1px solid #E7EAEC;
  border-left: 1px solid #E7EAEC;
  border-right: 1px solid #E7EAEC;
}
.tab table tr th{
  text-align: left;
  font-weight: normal;
  background: #F7F9FB;
  padding-left: 32px;
  height: 39px;
}
.tab table tr td{
  padding-left: 32px;
  height: 50px;
}
.black_list{
  width: 80px;
  height: 30px;
  line-height: 30px;
  color: #3199F7;
  margin-left: -10px;
  cursor: pointer;
  text-align: center;
}
.black_list:hover{
  background: #E2EDF8;
}
.layui-table tbody tr:hover, .layui-table-click, .layui-table-header, .layui-table-hover, .layui-table-mend, .layui-table-patch, .layui-table-tool, .layui-table[lay-even] tr:nth-child(even) { background-color: transparent; }



/* 互动设置 */
.interaction{
  width: 364px;
  height: 38px;
  margin: 0 auto;
}
.interaction ul li{
  width: 180px;
  height: 36px;
  border: 1px solid #4597E0;
  text-align: center;
  line-height: 36px;
  float: left;
  cursor: pointer;
}
.item3_active{
  background: #4597E0;
  color: #fff;
}

.item3,.picture,.text_record,.picture{
  width: 91%;
  height: 560px;
  margin-left: 55px;
  margin-top: 20px;
}
.item3>div{
  display: none;
}

.edit{
  width: 92px;
  height: 30px;
  color: #2390F3;
  border: 1px solid #D0E8FF;
  text-align: center;
  line-height: 30px;
  border-radius: 15px;
  display: inline-block;
  font-size: 14px;
}

.questions_top,.text_record_top,.picture_top,.reply_top{
  width: 100%;
  height: 50px;
  border-top: 1px solid #DEE1E6;
  border-bottom: 1px solid #DEE1E6;
}
.batch_management,.tool p,.text_management,.conference,.text_tool p,.picture_management,.picture_tool p,.reply_management,.reply_tool p{
  width: 92px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  float: left;
  margin-top: 11px;
  margin-right: 10px;
  color: #fff;
  background: #3199F7;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
}
.tool,.text_tool,.picture_tool,.reply_tool{
  display: inline-block;
  display: none;
}
.tool p,.text_tool p,.picture_tool p,.reply_tool p{
  width: 62px;
}
.questions_main,.reply_main{
  width: 100%;
  border-bottom: 1px solid #DEE1E6;
  padding: 20px 0;
}
.questions_left{
  width: 70%;
  display: inline-block;
}
.questions_right{
  float: right;
  margin-top: 30px;
}
.questions_right p{
  display: inline-block;
  width: 92px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #D0E8FF;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  margin-right: 10px;
  color: #3199F7;
}
.questions_right p:hover{
  color: #fff;
  background: #3199F7
}
.questions_left p{
  font-size: 13px;
}
.questions_left p span{
  font-size: 12px;
  color: #888888;
  margin-left: 28px;
}
.questions_chexbox{
  float: left;
  margin-left: 10px;
  margin-right: 22px;
  margin-top: 30px;
}
.checkbox,.picture_chexbox,.questions_chexbox{
  width: 14px;
  height: 14px;
  border: 1px solid #DEE1E6;
  background: #fff;
}
.chexbox_img{
  background: url(../../img/selected.png)
}

.reply_main-right{
  width: 94%;
  display: inline-block
}

.reply_main_top{
  width: 100%;
  margin-bottom: 18px;
}
.reply_main_bottom{
  width: 100%;
}
.reply_main_bottom .administrators,.reply_main_bottom  .net_friend{
  font-size: 16px;
  margin-left: 0;
  color: #000;
}
.reply_editor{
  color: #3199F7;
  margin-top: 8px;
  cursor: pointer;
}

/* 现场图片 */
.picture_content{
  height: 500px;
  overflow: auto;
}
.upimage,.conference{
  float: right;
}
.picture_img{
  width: 23%;
  height: 28.5%;
  display: inline-block;
  text-align: center;
  margin-right: 2%;
  margin-top: 2%;
}
.picture_img>p{
  margin-top: 10px;
}
.picture_chexbox{
  display: none;
}
.imagess{
  width: 100%;
  height: 100%;
  background: #E8EFF1;
}
.imagess_main{
  width: 100%;
  height: 100%;
  background-size: 100%;
}
.picture_img{
  position: relative;
}
.picture_img .picture_chexbox{
  border: 0;
  position: absolute;
  left: 5px;
  top: 5px;
}
.upimage,.operation{
  position: relative;
  display: inline-block;
  background: #3199F7;
  overflow: hidden;
  color: #fff;
  width: 92px;
  height: 28px;
  text-decoration: none;
  line-height: 28px;
  margin-top: 11px;
  text-align: center;
  cursor: pointer;
}
.uplink{
  position: relative;
  overflow: hidden;
  width: 100px;
  height: 15.5px;
  cursor: pointer;
  /* line-height: 34px; */
}
#updata,#VedioUpdata,#UpPreview{
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
  filter:alpha(opacity=0);
  cursor: pointer;
}

/* 文字实录 */
.record{
  width: 100%;
  padding: 20px 0;
  font-size: 14px;
  border-bottom: 1px solid #E6EEF5;
}
.record>p>span{
  margin-left: 20px;
}
.record_time{
  font-size: 12px;
  color: #999999;
  margin-top: 6px;
  margin-bottom: 8px;
}
.record_edit{
  color: #3199F7;
  margin-top: 10px;
  cursor: pointer;
}
.record_left{
  float: left;
  width: 14px;
  height: 14px;
  margin-right: 15px;
  margin-top: 50px;
}
.record_right{
  display: inline-block;
  width: 94%;
}
.text_chexbox,.replys_chexbox{
  width: 14px;
  height: 14px;
  border: 1px solid #DEE1E6;
  float: left;
  margin-right: 2%;
  margin-top: 5%;
  display: none;
}

/* 弹框 */
.modify_name,.modify_scene,#add_guest,.brief_introduction,.interaction_delete,.interaction_shield,.review_response,.picture_delece,.text_delece,.text_record_edit,.real_time,.ReplyEditor,.response,.interaction_delete_2,.conversion{
  display: none;
}
.modify_name,.modify_scene,#add_guest,.brief_introduction,.text_record_edit{
  text-align: center;
}
.name_title{
  font-size: 26px;
  color: #676A6C;
  margin-bottom: 54.5px;
  margin-top: 10px;
}
.modify_name input,#add_guest input{
  width: 415px;
  height: 45px;
  margin-bottom: 26px;
  padding-left: 10px;
  line-height: 45px;
}
#add_guest input{
  width: 290px;
  height: 44px;
  line-height: 44px;
}
.tips,.tips_2,.tips_3{
  color: #FF5500;
}
.my-skin .layui-layer-btn a {
  width: 180px;
  height: 46px;
  line-height: 46px;
  font-size: 18px;
  margin-top: -20px;
}
.layui-layer-btn a{
  margin-bottom: 25px;
}
.brief_introduction textarea,.review_response textarea,.text_record_edit textarea,.real_time textarea,.namess textarea{
  width: 600px;
  height: 145px;
  margin-bottom: 26px;
  padding: 10px;
  resize: none;
  outline: none;
}
.radio{
  font-size: 14px;
}
.radio_item{
  display: inline-block;
  cursor: pointer;
}
.radio_item p{
  width: 15.5px;
  height: 15.5px;
  border: 1px solid #3199F7;
  float: left;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 2px;
  box-sizing: border-box;
}
.image{
  background-image: url(../../img/checked.png);
  background-size: 100%;
}
.interaction_delete,.interaction_shield,.picture_delece,.text_delece,.interaction_delete_2,.conversion{
  width: 100%;
  text-align: center;
  font-size: 24px;
}
.interaction_delete img,.interaction_shield img,.picture_delece img,.text_delece img,.interaction_delete_2 img,.conversion img{
  margin-top: 20px;
  margin-bottom: 32px;
}
.review_response textarea{
  width: 620px;
  height: 165px;
  margin-bottom: 67px;
  font-size: 14px;
}
.review_response{
  text-align: center;
}
.review_questions,.editor_question{
  text-align: left;
  margin: 0 32px;
  font-size: 12px;
}
.review_questions,.editor_question{
  color: #3199F7;
}
.editor_question{
  margin-top: 8px;
  margin-bottom: 17px;
  font-size: 13px;
  cursor: pointer;
}
.text_select, .text_select>select{
  width: 620px;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 25px;
}
.text_record_edit textarea{
  width: 600px;
  height: 200px;
}
.real_time select{
  width: 518px;
}
.real_time textarea{
  width: 498px;
  height: 198px;
  float: left;
}
.real_time_{
  text-align: center;
  margin-left: 40px;
}
.real_time_>p{
  float: left;
  margin-right: 33px;
}
.namess{
  margin-left: 30px;
}
.namess p{
  font-size: 16px;
  color: #3199F7;
  margin-bottom: 10px;
}
.select_guest select{
  width: 640px;
  height: 30px;
  /* margin: 25px 0; */
  margin-top: 15px;
  margin-bottom: 10px;

}

/* 视频下载 */
.operation{
  margin-left: 30px;
}
.vedio{
  width: 95%;
  height: 50px;
  line-height: 50px;
  margin-left: 30px;
}
.vedio img{
  margin-left: 19px;
  margin-right: 18px;
}
.vedio p{
  display: inline-block;
  width: 18%;
}
.vedio:hover{
  background: #E7EAEC
}
.download{
  color: #3199F7;
}
.download:hover{
  color: #3199F7;
}
/* 分页 */
.PageNum{
  width: 100%;
  text-align: center;
}

/* 二级页面样式  end */