/* 全局样式   start */
body,div,aside,p,span,ul,li,a,form{
  margin: 0;
  padding: 0;
}

ul,li{
  list-style: none;
}

img{
  border: 0;
}

a{
  text-decoration: none;
}
/* 全局样式   end */



/* 二级页面样式  start */
html{
  width: 100%;
  height: 100%;
}
body{
  width: 100%;
  height: 100%;
  position: relative;
}
.container{
  width: 81%;
  height: 918px;
  margin: 0px auto;
}

.nav{
  width: 17%;
  height: 891px;
  background: #DEE1E6;
  padding-top: 27px;
  float: left;
}

.nav li{
  height: 44px;
  line-height: 44px;
  padding-left: 28px;
  font-size: 14px;
  cursor: pointer;
}

.nav a{
  color: #333333;
}

.content{
  width: 83%;
  height: 100%;
  float: right;
  /* background: #f60; */
}
.menu{
  width: 100%;
  height: 100%;
  border: 1px solid #E6EEF5;
  box-sizing: border-box;
  display: none;
}
.title{
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
}
.title p{
  width: 95%;
  border-bottom: 1px solid #E6EEF5;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 30px;
  font-size: 24px;
}
.main{
  width: 100%;
  
}
.main ul li{
  width: 100%;
  height: 44px;
  font-size: 13px;
}
.main ul li p{
  display: inline-block;
}
.main ul li>p{
  margin-left: 67px;
  width: 8%;
  height: 44px;
  color: #888888;
  float: left;
}
.main ul li>div{
  width: 80%;
  margin-right: 72px;
  float: right;
}
.time{
  text-align: center;
  width: 193px;
  height: 32px;
  /* line-height: 32px; */
  border: 1px solid #CDCDCD;
  /* display: inline-block; */
  float: left;
}
.main ul li>div>p{
  color: #3199F7;
  margin-left: 32px;
  cursor: pointer;
}
.main ul li>div>.guest{
  padding: 9px 12px;
  background: #E6EEF5;
  margin-right: 20px;
  margin-left: 0;
  color: #000;
  /* cursor: none; */
}
.add{
  display: inline-block;
  width: 82px;
  height: 32px;
  border: 1px solid #3199F7;
  border-radius: 2px;
  text-align: center;
  line-height: 32px;
  color: #3199F7;
  font-size: 14px;
  cursor: pointer;
}
.sure{
  width: 200px;
  height: 46px;
  line-height: 46px;
  color: rgba(255,255,255,.5);
  background: #3199F7;
  margin: 0 auto;
  margin-top: 134px;
  text-align: center;
  font-size: 16px;
}

.active{
  background: #3199F7;
  color: #fff;
}


/* 用户管理 */
.title span{
  float: right;
  margin-right: 34px;
  font-size: 14px;
  margin-top: 15px;
}

.tab{
  width: 90%;
  height: 686px;
  margin-left: 30px;
}
.black_list{
  width: 80px;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  color: #3199F7;
  margin-left: -10px;
  cursor: pointer;
  text-align: center;
}
.black_list:hover{
  background: #E2EDF8;
}
.layui-table tbody tr:hover, .layui-table-click, .layui-table-header, .layui-table-hover, .layui-table-mend, .layui-table-patch, .layui-table-tool, .layui-table[lay-even] tr:nth-child(even) { background-color: transparent; }



/* 互动设置 */
.interaction{
  width: 364px;
  height: 38px;
  margin: 0 auto;
}
.interaction ul li{
  width: 180px;
  height: 36px;
  border: 1px solid #4597E0;
  text-align: center;
  line-height: 36px;
  float: left
}
.item3_active{
  background: #4597E0;
  color: #fff;
}

.item3{
  width: 91%;
  height: 560px;
  margin-left: 55px;
  margin-top: 20px;
}

.edit{
  width: 92px;
  height: 30px;
  color: #2390F3;
  border: 1px solid #D0E8FF;
  text-align: center;
  line-height: 30px;
  border-radius: 15px;
  display: inline-block;
  font-size: 14px;
}

/* 弹框 */
.modify_name,.modify_scene,#add_guest,.brief_introduction{
  text-align: center;
}
.name_title{
  font-size: 26px;
  color: #676A6C;
  margin-bottom: 54.5px;
  margin-top: 10px;
}
.modify_name input,#add_guest input{
  width: 415px;
  height: 45px;
  margin-bottom: 26px;
  padding-left: 10px;
  line-height: 45px;
}
#add_guest input{
  width: 290px;
  height: 44px;
  line-height: 44px;
}
.tips,.tips_2,.tips_3{
  color: #FF5500;
}
.my-skin .layui-layer-btn a {
  width: 180px;
  height: 46px;
  line-height: 46px;
  font-size: 18px;
  margin-top: -20px;
}
.brief_introduction textarea{
  width: 600px;
  height: 145px;
  margin-bottom: 26px;
  padding: 10px;
  resize: none;
  outline: none;
}
.radio{
  font-size: 24px;
  margin-top: 22.5px;
  line-height: 24px;
}
.radio input[type='radio']{
  width: 24px;
  height: 24px;
  background-color: #fff;
  -webkit-appearance: none;
  border: 1px solid #DEE1E6;
  cursor: pointer;
  border-radius: 2px;
  outline: none;
}
.image{
  background-image: url(../../img/se.png)
}

/* 视频下载 */
.operation{
  width: 95%;
  height: 52px;
  border-top: 1px solid #E6EEF5;
  border-bottom: 1px solid #E6EEF5;
  margin-left: 30px;
}
.operation p{
  width: 92px;
  height: 28px;
  background: #3199F7;
  text-align: center;
  line-height: 28px;
  color: #fff;
  border-radius: 2px;
  margin-top: 12px;
  font-size: 14px;
}
.vedio{
  width: 95%;
  height: 50px;
  line-height: 50px;
  margin-left: 30px;
}
.vedio img{
  margin-left: 19px;
  margin-right: 18px;
}
.vedio p{
  float: left;
  margin-left: 192px;
}
.vedio:hover{
  background: #E7EAEC
}
.download{
  color: #3199F7;
}

/* 二级页面样式  end */